# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Data files (on ne commit pas les grosses données)
data/raw/*.csv
data/raw/*.json
data/processed/*.csv

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db